[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==5.7.0"
aiohttp = "==3.6.2"

[dev-packages]
mypy = "==0.770"
pytest = "==5.4.2"
flake8 = "==3.8.2"
autopep8 = "==1.5.2"
rope = "==0.17.0"
debugpy = "==1.0.0b9"

[requires]
python_version = "3.8"

[packages.python-socketio]
extras = [ "asyncio-client",]
version = "==4.6.0"
