[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==5.7.0"

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"
debugpy = "==1.0.0b12"

[requires]
python_version = "3.8"

[packages.python-socketio]
extras = [ "asyncio-client",]
version = "==4.6.0"
